*
{
    margin: 0px;
}

nav
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
body
{
    width: auto;
}


#head
{
    background: linear-gradient(45deg,black,red,black);
    text-align: center;
    margin-left: 35%; 
    margin-right: 35%;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 45%;  
    color: white;
    padding: 5px;
}

p
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image
{
    
    display: flex;
    justify-content: space-evenly;
}
h4
{
    text-align: center;

}